/* grid-box */

.p {
    height: 300px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    .p-browser {
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 2;

        .p-circle {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 4px;
        }
    }

    .p-img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: all 1s ease;

        &:hover {
            transform: translateY(-100%);
        }
    }
}
