/* Flex-box */
@import "../../../global.scss";

.t {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));

    .t-icon {
        align-self:center;
        margin-left: 5px;
        width: 15px;
        height: 15px;
    }

    .t-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        position: absolute;
        border: none;
        cursor: pointer;
    }
}
